table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
th, td {
	padding: 2px 4px;
}
td {
	text-align: center;
}
button {
	margin-top: 5px;
	margin-right: 5px;
	padding: 2px;
}
#content {
	display: inline-block;
	text-align: center;
}
#randomize {
	font-weight: bold; 
}